<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/2f2fa104-41c6-4c8c-8094-5fd27591e3f1/resourcegroups/HNV-ResourceGroup/providers/Microsoft.Web/sites/PetCareSystem20240514113535</ResourceId>
    <ResourceGroup>HNV-ResourceGroup</ResourceGroup>
    <ApiResourceId>/subscriptions/2f2fa104-41c6-4c8c-8094-5fd27591e3f1/resourceGroups/HNV-ResourceGroup/providers/Microsoft.ApiManagement/service/PetCareSystemapi/apis/PetCareSystem</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://petcaresystem20240514113535.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>649749c2-4424-4b21-8e0d-a5ba2f764233</ProjectGuid>
    <MSDeployServiceURL>petcaresystem20240514113535.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>PetCareSystem20240514113535</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$PetCareSystem20240514113535</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>